*, *::before, *::after { box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
body {
  background-color: $color-mono0;
  color: $color-mono5;
}
input {
  border-radius: 0;
  border: none;
  outline: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
body {
  font-size: 1.4rem;
}
li, p, h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: 300; }
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}