<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= title; %></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="<%= root; %>style.css">
<script src="<%= root; %>/scripts.js"　async></script>
</head>
<body>