<%
	const root = './';
	const title = 'TOP';
%>
<%- include(`${root}components/head`, { root, title }); -%>
<%- include(`${root}components/header`, { root }); -%>

<main>
	ここが main
	<img src="./assets/images/mockup01.jpg" alt="">
	<img src="./assets/images/mockup02.jpg" alt="">
</main>

<%- include(`${root}components/footer`, { root }); -%>